@import url("https://fonts.googleapis.com/css2?family=Monomakh&display=swap");
@import url("./header.css");
@import url("./sidebar.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  display: flex;
  width: 100%;
  margin: auto;
  padding-top: 100px;
  justify-content: end;
  padding-right: 100px;
}

main {
  margin: 60px;
  width: 80%;
}

h2 {
  margin-bottom: 30px;
  font-family: "Monomakh", Arial;
  font-size: 40px;
  color: #bc463a;
  line-height: 20px;
  letter-spacing: 2px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 4px solid #5c2019;
  border-radius: 10px;
  min-height: 200px;
}

th:nth-child(1),
th:nth-child(4),
th:nth-child(6) {
  width: 10%;
}

th:nth-child(2) {
  width: 12.5%;
}

th:nth-child(3) {
  width: 25%;
}

th:nth-child(5) {
  width: 15%;
}

thead {
  width: 100%;
  height: 80px;
}

tr {
  width: 100%;
  height: 80px;
}

th,
td {
  border-right: 3px solid #5c2019;
  border-bottom: 4px solid #5c2019;
  border-collapse: collapse;
  font-family: "Monomakh", Arial;
  font-size: 20px;
  color: #bc463a;
  line-height: 30px;
  height: 40px;
  letter-spacing: 2px;
  text-align: center;
  padding: 0 5px;
}

th:nth-child(7) {
  border-right: none;
  width: 15%;
}

th input[type="checkbox"],
td input[type="checkbox"] {
  width: 0;
  height: 0;
  visibility: hidden;
}

th input[type="checkbox"] + label,
td input[type="checkbox"] + label {
  width: 30px;
  height: 30px;
  border: 3px solid #bc463a;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

th input[type="checkbox"]:checked + label,
td input[type="checkbox"]:checked + label {
  background-color: #ffffff;
}

th input[type="checkbox"]:checked + label::before,
td input[type="checkbox"]:checked + label::before {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #bc463a;
}

#but-table-all {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#button-add,
#button-del-all {
  width: 50px;
  height: 50px;
  border: 3px solid #4286f5;
  border-radius: 5px;
  margin-bottom: 15px;
  font-family: "Monomakh", Arial;
  font-size: 40px;
  line-height: 43px;
  text-align: center;
  color: #5c2019;
  align-self: flex-end;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;

  img {
    width: 30px;
    height: 30px;
  }
}

#button-del-all {
  display: none;
}

.wrapper-table {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

#wrapper-shadow {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000005c;
  z-index: 1;
  display: none;
  overflow-y: auto;
}

#addStudent,
#delete-wraper {
  width: 800px;
  height: 500px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: none;
  border-radius: 10px;
  flex-direction: column;
}

#delete-wraper {
  width: 40%;
  height: 40%;
  display: none;
}

.button-close {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-family: "Monomakh", Arial;
  font-size: 50px;
  line-height: 43px;
  text-align: center;
  color: #5c2019;
  transform: rotate(45deg);
  position: absolute;
  right: 0;
  cursor: pointer;
}

h3 {
  margin: 50px 20px 20px;
  font-family: "Monomakh", Arial;
  font-size: 28px;
  color: #bc463a;
  line-height: 20px;
  letter-spacing: 1px;
}

#war_text {
  font-family: "Monomakh", Arial;
  font-size: 30px;
  text-align: center;
  margin: auto;
  width: 90%;
  min-height: 20%;
  line-height: 60px;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #5c2019;
  margin-bottom: 20px;
}

#form-add {
  width: 80%;
  height: 50%;
  margin: 0 auto 20px;
  padding: 0;
}

#fieldset-add {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
}

.form-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-item label {
  font-family: "Monomakh", Arial;
  font-size: 22px;
  color: #bc463a;
  line-height: 20px;
  letter-spacing: 1px;
  width: 30%;
}

.form-item select,
.form-item input {
  width: 65%;
  height: 35px;
  border: 2px solid #5c2019;
  border-radius: 5px;
  padding-left: 20px;
  font-size: 19px;
  color: #5c2019;
  line-height: 20px;
  letter-spacing: 1px;
}

.buttons {
  width: 26%;
  height: 60px;
  align-self: flex-end;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
}

#button-ok,
#button-create,
#button-save,
#button-cancel,
#button-ok-del {
  width: 40%;
  height: 50%;
  background-color: transparent;
  border: 2px solid #5c2019;
  border-radius: 5px;
  color: #5c2019;
  text-align: center;
  font-size: 18px;
}

#button-create,
#button-save,
#button-cancel {
  width: 50%;
  display: block;
}

.buttons-table {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
}

#button-edit,
#button-del {
  width: 45px;
  height: 45px;
  background-color: transparent;
  border: 2px solid #5c2019;
  border-radius: 5px;
  position: relative;
}

#button-del {
  margin-left: 5px;
}

#button-edit img,
#button-del img {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: block;
}

#button-edit:hover img,
#button-del:hover img {
  width: 38px;
  height: 38px;
}

.status-circle {
  width: 30px;
  height: 30px;
  background-color: darkgray;
  border-radius: 50%;
  margin: auto;
}

#edit_text,
#add_text {
  display: block;
}

td:nth-child(7) {
  border-right: none;
}

#info-student-wraper {
  display: none;
}

.pagination {
  display: flex;
  margin: auto;
  width: 100%;
  margin-top: 30px;
  justify-content: center
}



.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 2px solid #5c2019;
  color: #5c2019;
  font-size: 18px;
  margin: 0 1px;
  border-radius: 5px;
}

.pagination a.active {
  background-color: #4286f5;
  color: white;
  border: 1px solid #4286f5;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

tr:last-child td{
  border-bottom: none;
}

@media screen and (max-width: 1800px) {
  main {
    width: 75%;
  }

  #addStudent,
  #delete-wraper {
    width: 600px;
    height: 450px;
  }

  #delete-wraper{
    height: 300px;
  }
  #war_text {
    font-size: 20px;
    line-height: 30px;
  }

  h3 {
    font-size: 20px;
  }

  .form-item label {
    font-size: 18px;
  }

  .form-item select,
  .form-item input {
    height: 30px;
    font-size: 14px;
  }

  .buttons {
    width: 20%;
    height: 50px;
  }
  #button-ok,
  #button-create,
  #button-save,
  #button-cancel,
  #button-ok-del {
    font-size: 14px;
  }
}

@media screen and (max-width: 1500px) {
  .main-wrapper {
    padding-right: 50px;
  }
  main {
    width: 70%;
  }
}

@media screen and (max-width: 1250px) {
  .main-wrapper {
    padding-right: 100px;
  }

  #addStudent,
  #delete-wraper {
    height: 400px;
  }


  #delete-wraper{
    height: 300px;
  }
  
  main {
    width: 85%;
  }

  td {
    font-size: 18px;
    letter-spacing: 1px;
  }

  #button-edit,
  #button-del {
    width: 40px;
    height: 40px;
  }

  #button-edit img,
  #button-del img {
    width: 25px;
    height: 25px;
  }

  #button-edit:hover img,
  #button-del:hover img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .main-wrapper {
    padding-right: 50px;
  }
  main {
    width: 90%;
  }
}

@media screen and (max-width: 850px) {
  main {
    width: 90%;
    margin: 60px 0 0 20px;
  }

  #addStudent,
  #delete-wraper {
    width: 500px;
  }

  #info-student-wraper {
    display: none;
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    border-radius: 10px;
    z-index: 6;
  }

  h4 {
    font-family: "Monomakh", Arial;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #5c2019;
    height: 40px;
    line-height: 40px;
    margin: 20px;
    width: 86%;
    text-align: start;
  }

  .info-student-p {
    font-family: "Monomakh", Arial;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #000;
    height: 20px;
    line-height: 40px;
    margin: 20px;
    width: 83%;
    display: flex;
    justify-content: space-between;
  }

  .info-cap {
    font-size: 24px;
    color: #5c2019;
  }

  th:nth-child(4),
  td:nth-child(4),
  th:nth-child(6),
  td:nth-child(6) {
    display: none;
  }

  th:nth-child(1) {
    width: 10%;
  }

  th:nth-child(2) {
    width: 10%;
  }

  th:nth-child(3) {
    width: 40%;
  }

  th:nth-child(5) {
    width: 20%;
  }

  th:nth-child(7) {
    width: 20%;
  }
}

@media screen and (max-width: 650px) {
  th:nth-child(2),
  td:nth-child(2) {
    display: none;
  }

  #addStudent,
  #delete-wraper {
    width: 400px;
  }

  h3 {
    font-size: 18px;
  }

  .form-item label {
    font-size: 16px;
    width: 35%;
  }

  .form-item select,
  .form-item input {
    height: 30px;
    font-size: 14px;
    width: 60%;
  }

  .buttons {
    width: 30%;
    height: 50px;
  }

  #button-ok,
  #button-create,
  #button-save,
  #button-cancel,
  #button-ok-del {
    font-size: 14px;
  }

  .button-close {
    font-size: 40px;
  }

  #info-student-wraper {
    width: 350px;
    height: 300px;
  }

  h4 {
    font-size: 18px;
    height: 30px;
  }

  .info-student-p {
    font-size: 14px;
    margin: 10px 20px;
  }

  .info-cap {
    font-size: 16px;
  }
  th:nth-child(1) {
    width: 10%;
  }

  th:nth-child(3) {
    width: 40%;
  }

  th:nth-child(5) {
    width: 20%;
  }

  th:nth-child(7) {
    width: 20%;
  }
}

@media screen and (max-width: 550px) {
  th:nth-child(5),
  td:nth-child(5) {
    display: none;
  }

  th:nth-child(1) {
    width: 20%;
  }

  th:nth-child(3) {
    width: 50%;
  }
  th:nth-child(7) {
    width: 30%;
  }

  #addStudent,
  #delete-wraper {
    top: 63%;
  }

  th,
  td {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  #addStudent,
  #delete-wraper {
    width: 350px;
  }
}

@media screen and (max-width: 400px) {
  #info-student-wraper {
    width: 300px;
    height: 300px;
  }

  #addStudent,
  #delete-wraper {
    width: 300px;
  }

  h3 {
    font-size: 16px;
  }

  .form-item label {
    font-size: 14px;
    width: 38%;
    line-height: 30px;
  }

  .form-item select,
  .form-item input {
    height: 30px;
    font-size: 14px;
    width: 60%;
  }

  .button-close {
    font-size: 35px;
  }
  h4 {
    font-size: 17px;
    height: 30px;
  }

  .info-student-p {
    font-size: 14px;
    margin: 10px 20px;
  }

  .info-cap {
    font-size: 16px;
  }

  .pagination a{
    width: 35px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    text-align: center;
    font-size: 16px;
  }
}


@media screen and (max-width: 350px) {
  .pagination{
    width: 110%;
  }
}